@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SpaceX;
  src: url('../../public/fonts/SpaceX.ttf');
}

.company-text {
  font-family: SpaceX, sans-serif;
}

body {
  background-color: black
}

@media (max-width: 768px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  select {
    margin-bottom: 10px;
  }
}